<div class="row tm-content-row">
    <div class="tm-block-col tm-col-avatar">
      <div class="tm-bg-primary-dark tm-block tm-block-avatar">
        <h2 class="tm-block-title">Profile Picture</h2>
        <div class="tm-avatar-container">
          <img
            src="img/avatar.png"
            alt="Avatar"
            class="tm-avatar img-fluid mb-4"
          />
          <a href="#" class="tm-avatar-delete-link">
            <i class="far fa-trash-alt tm-product-delete-icon"></i>
          </a>
        </div>
        <button class="btn btn-primary btn-block text-uppercase">
          Upload New Photo
        </button>
      </div>
    </div>
    <div class="tm-block-col tm-col-account-settings">
      <div class="tm-bg-primary-dark tm-block tm-block-settings">
        <h2 class="tm-block-title">Profile</h2>
        <form action="" class="tm-signup-form row">
          <div class="form-group col-lg-6">
            <label for="name">Name</label>
            <input
              id="name"
              name="name"
              type="text"
              value="joe Doe"
              class="form-control validate"
            />
          </div>
          <div class="form-group col-lg-6">
            <label for="email">Email</label>
            <input
              id="email"
              name="email"
              type="email"
              value="joeDoe@gmail.com"
              class="form-control validate"
            />
          </div>
          <div class="form-group col-lg-6">
            <label for="Department">Department</label>
            <input
              id="Department"
              name="Department"
              value="Manager"
              type="text"
              class="form-control validate"
            />
          </div>
          <div class="form-group col-lg-6">
            <label for="phone">Phone</label>
            <input
              id="phone"
              name="phone"
              type="tel"
              value="0101010101010"
              class="form-control validate"
            />
          </div>
          <div class="form-group col-lg-6">
            <label class="tm-hide-sm">&nbsp;</label>
            <button
              type="submit"
              class="btn btn-primary btn-block text-uppercase"
            >
              Update Your Profile
            </button>
          </div>
        </form>
      </div>
    </div>
</div>